<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-border">
  <div class="container-fluid">
    <div class="navbar-brand d-flex" href="#">
      <i class="fas fa-radiation-alt radioactive me-3" ></i>
      <div class="left-brand">
        <p class="p-0 m-0">Delikwęt</p>
        <p class="small-brand">jedz zdrowo</p>
      </div>
    </div>
    <button class="navbar-toggler custom-btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-items">

        <li class="nav-item me-3 d-flex align-items-center">
          <div class="d-flex align-items-center">
            <i class="far fa-check-square"></i>
            <a class="nav-link active ms-2" aria-current="page" href="#">Przyjęte zgłoszenia</a>
          </div>
        </li>
        <li class="nav-item me-3 d-flex align-items-center">
          <div class="d-flex align-items-center">
            <i class="fas fa-bars"></i>
            <a class="nav-link active ms-2" aria-current="page" href="{% url 'diet:diet_list' user.nutritionist.id %}">Lista diet</a>
          </div>
        </li>
        <li class="nav-item me-3 d-flex align-items-center">
          <div class="d-flex align-items-center">
            <i class="fas fa-list-ul"></i>
            <a class="nav-link active ms-2" aria-current="page" href="#">Lista zgłoszeń</a>
          </div>
        </li>
        <li class="nav-item me-3 d-flex align-items-center">
          <div class="d-flex align-items-center">
            <i class="fas fa-home"></i>
            <a class="nav-link active ms-2" aria-current="page" href="#">Moje konto</a>
          </div>
        </li>
        <li class="nav-item me-3 d-flex align-items-center">
          <div class="d-flex align-items-center">
            <a href="{% url 'account_logout' %}"><i class="fas fa-power-off" style="font-size: 30px!important;"></i></a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>