{% extends 'index.html' %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans "Lista przyjetych konsultacji" %}{% endblock %}


{% block content %}
  <div class="container-fluid w-100 h-100">
    <div class="row d-flex justify-content-center w-100 mt-5">
      {% for consultations in object_list %}
        <div class="col-12 my-2 d-flex justify-content-center align-items-center">
          <a href="{% url 'diet:consultations_edit' consultations.id %}" class="diet-box">
            {{ consultations }} | {{ consultations.date }} | {{ consultations.time }}
            | {{ consultations.client }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}