{% extends 'index.html' %}
{% load bootstrap5 %}
{% block content %}
  <div class="container-fluid d-flex justify-content-center">
  <div class="w-50 mt-5">
    <form method="post" class="black-form mb-5">
      {% csrf_token %}
      <h1 class="my-5 text-center">Formularz umawiania konsultacji</h1>
      {{ form }}
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-green me-5">Wyślij</button>
        <a href="{% url 'diet:client_diet' %}" class="btn btn-gray ms-5">Anuluj</a>
      </div>
    </form>
  </div>
  </div>
{% endblock %}