{% extends 'index.html' %}

{% block content %}
  <div class="container-fluid d-flex justify-content-center">
    <div class="w-50 mt-5">
      <form method="post" class="black-form mb-5">
        {% csrf_token %}
        <h1 class="my-5 text-center">Edycja dnia diety</h1>
        {{ form_diet_day }}
        <div class="d-flex justify-content-center mt-3">
          <a href="{% url 'diet:diet_days' diet_id %}" class="btn btn-gray me-5">Powrót</a>
          <button type="submit" class="btn btn-blue ms-5 me-5">Zapisz</button>
          <a href="{% url 'diet:products_list' diet_day_id diet_id %}" class="btn btn-green ms-5">Produkty dnia</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}