{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet"
        type="text/css"/>

  <title></title>
</head>
<body>
<p class="test">cmdkmcdk</p>

{% block content %}
{% endblock content %}


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% block extra_js %}
{% endblock extra_js %}

</body>
</html>